{% extends "base.html"%}
{% load static %}

{% block titulo %}
    {{lista.nome}} - Filmum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista.css' %}" />
{% endblock %}

{% block corpo %}
    <div class="container" style="padding-top: 100px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark text-white">
                <li class="breadcrumb-item"><a class="text-grey" href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a class="text-grey" href="perfil/">{{ lista.perfil.nickname }}</a></li>
                <li class="breadcrumb-item active  text-white" aria-current="Lista">{{ lista.nome }}
                </li>
            </ol>
        </nav>

        <div class="card bg-dark  mb-4">
            <div class="card-header">
                <h5 class="mb-4 font-weight-bold text-uppercase">{{ lista.nome }}</h5>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row px-2 mb-2">
                            <h6 class="mt-2 text-white mr-2">Feita por</h6>
                            <img class="thumbnail rounded-circle  mr-3  mb-2" style="max-width: 40px;"
                                src="{% static 'images/perfis/' %}{{ lista.perfil.foto }}" />
                            <h4 class="mt-2 mr-4 text-white">{{ lista.perfil.nickname }}</h4>
                            <h5 class="mt-2">
                                <button type="button" class="btn btn-sm btn-outline-light">
                                    Curtir
                                    <i class="fas fa-thumbs-up fa-md" style="color: #dc50f8;"> {{ lista.curtidas }}</i>
                                </button>
                            </h5>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <nav aria-label="Navegação de Paǵina">
                            {% if filmes.has_other_pages %}
                               <ul class='pagination justify-content-end'>
                                  {% if filmes.has_previous %}
                                     <li class='page-item'><a class='page-link' href='?pagina={{ filmes.previous_page_number }}'>Anterior</a></li>
                                  {% else %}
                                     <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                                  {% endif %}
                                  {% for i in filmes.paginator.page_range %}
                                     {% if filmes.number == i %}
                                        <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                                     {% else %}
                                        <li class='page-item'><a class='page-link' href='?pagina={{ i }}'>{{ i }}</a></li>
                                     {% endif %}
                                  {% endfor %}
                                  {% if filmes.has_next %}
                                     <li class='page-item'><a class='page-link' href='?pagina={{ filmes.next_page_number }}'>Próxima</a></li>
                                  {% else %}
                                     <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                                  {% endif %}
                               </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div>
                    <div class="row mt-4">
                        {% for filme in filmes %}
                            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                            <a class="card mb-4 poster1" href="filme/">
                                <img src="{% static 'images/filmes/' %}{{ filme.imagem }}" alt="{{ filme.nome }} ({{ filme.ano }})">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>


                <nav aria-label="Navegação de Paǵina">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Próximo</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}